adf-billing-dev/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-billing-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SecUser')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Aurea",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GAS BILLING/SQL Sources"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "UserID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ClientID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserIdentifier",
						"type": "uniqueidentifier"
					},
					{
						"name": "UserLogin",
						"type": "varchar"
					},
					{
						"name": "UserPassword",
						"type": "varchar"
					},
					{
						"name": "Salt",
						"type": "varchar"
					},
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					},
					{
						"name": "LastChangeDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ChangePasswordFlag",
						"type": "bit"
					},
					{
						"name": "ReadOnlyFlag",
						"type": "bit"
					},
					{
						"name": "ActiveFlag",
						"type": "bit"
					},
					{
						"name": "CSPID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvoiceEmailNotifications",
						"type": "bit"
					},
					{
						"name": "LastInvoiceNotificationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastLoginSuccess",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Failed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DefaultUrl",
						"type": "varchar"
					},
					{
						"name": "EncryptionKey",
						"type": "nvarchar"
					},
					{
						"name": "LastPasswordChangeDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PasswordNeverExpires",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SecUser"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SecUser_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GAS BILLING/Aurea_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SecUser",
						"folderPath": "parquet-aurea-raw",
						"container": "aurea-pipelines"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ConsID",
						"type": "INT32"
					},
					{
						"name": "MeterID",
						"type": "INT32"
					},
					{
						"name": "InvoiceID",
						"type": "INT32"
					},
					{
						"name": "DateFrom",
						"type": "INT96"
					},
					{
						"name": "DateTo",
						"type": "INT96"
					},
					{
						"name": "IntervalTime",
						"type": "UTF8"
					},
					{
						"name": "BegRead",
						"type": "DECIMAL",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "EndRead",
						"type": "DECIMAL",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "SeqNo",
						"type": "UTF8"
					},
					{
						"name": "Status",
						"type": "UTF8"
					},
					{
						"name": "Note",
						"type": "UTF8"
					},
					{
						"name": "Type",
						"type": "UTF8"
					},
					{
						"name": "ReadingMth",
						"type": "UTF8"
					},
					{
						"name": "Source",
						"type": "UTF8"
					},
					{
						"name": "SourceID",
						"type": "INT32"
					},
					{
						"name": "RequestID",
						"type": "INT32"
					},
					{
						"name": "Processed",
						"type": "UTF8"
					},
					{
						"name": "ProcessDate",
						"type": "INT96"
					},
					{
						"name": "DoNotProcess",
						"type": "UTF8"
					},
					{
						"name": "DNPCode",
						"type": "UTF8"
					},
					{
						"name": "FinalFlag",
						"type": "BOOLEAN"
					},
					{
						"name": "IsBeginReadLDCEstimate",
						"type": "BOOLEAN"
					},
					{
						"name": "IsEndReadLDCEstimate",
						"type": "BOOLEAN"
					},
					{
						"name": "CreateDate",
						"type": "INT96"
					},
					{
						"name": "CreatedByID",
						"type": "INT32"
					},
					{
						"name": "migr_bill_batch_id",
						"type": "INT32"
					},
					{
						"name": "Migr_acct_no",
						"type": "UTF8"
					},
					{
						"name": "migr_service_Id",
						"type": "UTF8"
					},
					{
						"name": "migr_division_code",
						"type": "UTF8"
					},
					{
						"name": "migr_meter_number",
						"type": "UTF8"
					},
					{
						"name": "LastModifiedDate",
						"type": "INT96"
					},
					{
						"name": "ModifiedByID",
						"type": "INT32"
					},
					{
						"name": "ValidatedFlag",
						"type": "BOOLEAN"
					},
					{
						"name": "ValidatedDate",
						"type": "INT96"
					},
					{
						"name": "ThermFactor",
						"type": "DECIMAL",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "DocumentDueDate",
						"type": "INT96"
					},
					{
						"name": "BillingTypeID",
						"type": "INT32"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TDSPCharges')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Aurea",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GAS BILLING/SQL Sources"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "TDSPChgsID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CSPDUNSID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Market810_Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvoiceNbr",
						"type": "varchar"
					},
					{
						"name": "ESIID",
						"type": "varchar"
					},
					{
						"name": "TDSPChargeCode",
						"type": "varchar"
					},
					{
						"name": "TDSPChargeAmount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "TDSPChargeUnit",
						"type": "varchar"
					},
					{
						"name": "TDSPChargeQty",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "TDSPRateClass",
						"type": "varchar"
					},
					{
						"name": "BeginServiceDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EndServiceDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InvoiceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvoiceFlag",
						"type": "bit"
					},
					{
						"name": "ImportedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Processed",
						"type": "char"
					},
					{
						"name": "DoNotProcess",
						"type": "char"
					},
					{
						"name": "ProcessedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InvoiceType",
						"type": "varchar"
					},
					{
						"name": "ProratedAmount",
						"type": "money",
						"precision": 19,
						"scale": 4
					}
				],
				"typeProperties": {
					"schema": "DBO",
					"table": "TDSPCharges"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TDSPCharges_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GAS BILLING/Aurea_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TDSPCharges",
						"folderPath": "parquet-aurea-raw",
						"container": "aurea-pipelines"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ConsID",
						"type": "INT32"
					},
					{
						"name": "MeterID",
						"type": "INT32"
					},
					{
						"name": "InvoiceID",
						"type": "INT32"
					},
					{
						"name": "DateFrom",
						"type": "INT96"
					},
					{
						"name": "DateTo",
						"type": "INT96"
					},
					{
						"name": "IntervalTime",
						"type": "UTF8"
					},
					{
						"name": "BegRead",
						"type": "DECIMAL",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "EndRead",
						"type": "DECIMAL",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "SeqNo",
						"type": "UTF8"
					},
					{
						"name": "Status",
						"type": "UTF8"
					},
					{
						"name": "Note",
						"type": "UTF8"
					},
					{
						"name": "Type",
						"type": "UTF8"
					},
					{
						"name": "ReadingMth",
						"type": "UTF8"
					},
					{
						"name": "Source",
						"type": "UTF8"
					},
					{
						"name": "SourceID",
						"type": "INT32"
					},
					{
						"name": "RequestID",
						"type": "INT32"
					},
					{
						"name": "Processed",
						"type": "UTF8"
					},
					{
						"name": "ProcessDate",
						"type": "INT96"
					},
					{
						"name": "DoNotProcess",
						"type": "UTF8"
					},
					{
						"name": "DNPCode",
						"type": "UTF8"
					},
					{
						"name": "FinalFlag",
						"type": "BOOLEAN"
					},
					{
						"name": "IsBeginReadLDCEstimate",
						"type": "BOOLEAN"
					},
					{
						"name": "IsEndReadLDCEstimate",
						"type": "BOOLEAN"
					},
					{
						"name": "CreateDate",
						"type": "INT96"
					},
					{
						"name": "CreatedByID",
						"type": "INT32"
					},
					{
						"name": "migr_bill_batch_id",
						"type": "INT32"
					},
					{
						"name": "Migr_acct_no",
						"type": "UTF8"
					},
					{
						"name": "migr_service_Id",
						"type": "UTF8"
					},
					{
						"name": "migr_division_code",
						"type": "UTF8"
					},
					{
						"name": "migr_meter_number",
						"type": "UTF8"
					},
					{
						"name": "LastModifiedDate",
						"type": "INT96"
					},
					{
						"name": "ModifiedByID",
						"type": "INT32"
					},
					{
						"name": "ValidatedFlag",
						"type": "BOOLEAN"
					},
					{
						"name": "ValidatedDate",
						"type": "INT96"
					},
					{
						"name": "ThermFactor",
						"type": "DECIMAL",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "DocumentDueDate",
						"type": "INT96"
					},
					{
						"name": "BillingTypeID",
						"type": "INT32"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TDSPInvoice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Aurea",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GAS BILLING/SQL Sources"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "TDSPInvoiceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RequestID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvoiceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PurposeCode",
						"type": "varchar"
					},
					{
						"name": "ReleaseNo",
						"type": "varchar"
					},
					{
						"name": "TransactionTypeCode",
						"type": "varchar"
					},
					{
						"name": "OriginalInvoiceNo",
						"type": "varchar"
					},
					{
						"name": "TotalAmount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "TaxAmount",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "DueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BulkInsertKey",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"table": "TDSPInvoice"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TDSPInvoice_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GAS BILLING/Aurea_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TDSPInvoice",
						"folderPath": "parquet-aurea-raw",
						"container": "aurea-pipelines"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ConsID",
						"type": "INT32"
					},
					{
						"name": "MeterID",
						"type": "INT32"
					},
					{
						"name": "InvoiceID",
						"type": "INT32"
					},
					{
						"name": "DateFrom",
						"type": "INT96"
					},
					{
						"name": "DateTo",
						"type": "INT96"
					},
					{
						"name": "IntervalTime",
						"type": "UTF8"
					},
					{
						"name": "BegRead",
						"type": "DECIMAL",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "EndRead",
						"type": "DECIMAL",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "SeqNo",
						"type": "UTF8"
					},
					{
						"name": "Status",
						"type": "UTF8"
					},
					{
						"name": "Note",
						"type": "UTF8"
					},
					{
						"name": "Type",
						"type": "UTF8"
					},
					{
						"name": "ReadingMth",
						"type": "UTF8"
					},
					{
						"name": "Source",
						"type": "UTF8"
					},
					{
						"name": "SourceID",
						"type": "INT32"
					},
					{
						"name": "RequestID",
						"type": "INT32"
					},
					{
						"name": "Processed",
						"type": "UTF8"
					},
					{
						"name": "ProcessDate",
						"type": "INT96"
					},
					{
						"name": "DoNotProcess",
						"type": "UTF8"
					},
					{
						"name": "DNPCode",
						"type": "UTF8"
					},
					{
						"name": "FinalFlag",
						"type": "BOOLEAN"
					},
					{
						"name": "IsBeginReadLDCEstimate",
						"type": "BOOLEAN"
					},
					{
						"name": "IsEndReadLDCEstimate",
						"type": "BOOLEAN"
					},
					{
						"name": "CreateDate",
						"type": "INT96"
					},
					{
						"name": "CreatedByID",
						"type": "INT32"
					},
					{
						"name": "migr_bill_batch_id",
						"type": "INT32"
					},
					{
						"name": "Migr_acct_no",
						"type": "UTF8"
					},
					{
						"name": "migr_service_Id",
						"type": "UTF8"
					},
					{
						"name": "migr_division_code",
						"type": "UTF8"
					},
					{
						"name": "migr_meter_number",
						"type": "UTF8"
					},
					{
						"name": "LastModifiedDate",
						"type": "INT96"
					},
					{
						"name": "ModifiedByID",
						"type": "INT32"
					},
					{
						"name": "ValidatedFlag",
						"type": "BOOLEAN"
					},
					{
						"name": "ValidatedDate",
						"type": "INT96"
					},
					{
						"name": "ThermFactor",
						"type": "DECIMAL",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "DocumentDueDate",
						"type": "INT96"
					},
					{
						"name": "BillingTypeID",
						"type": "INT32"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UNITOFMEASURE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dev2core",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/ELECTRICAL BILLING/Oracle sources"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "AEPE_COMMONS",
					"table": "UNITOFMEASURE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UNITOFMEASURE_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/ELECTRICAL BILLING/Nextstar_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "unitofmeasure",
						"folderPath": "parquet-nextstar-raw",
						"container": "nextstar"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USAGEALLOWEDTHRESHOLDFACTOR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dev2core",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/Oracle Sources"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "AEPE_BILLING",
					"table": "USAGEALLOWEDTHRESHOLDFACTOR"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USAGEBEHAVIORRULES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dev2core",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/Oracle Sources"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "AEPE_BILLING",
					"table": "USAGEBEHAVIORRULES"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UsageGas_Mongo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Nextstar_billing_MongoDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GAS BILLING/Mongo colections"
				},
				"annotations": [],
				"type": "MongoDbAtlasCollection",
				"schema": [],
				"typeProperties": {
					"collection": "UsageGas"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/daylightsavingtime_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/Nextstar_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "daylightsavingtime",
						"folderPath": "parquet-nextstar-raw",
						"container": "nexstar"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/energyhourlyusagedetail_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/Nextstar_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "energyhourlyusagedetail",
						"folderPath": "parquet-nextstar-raw",
						"container": "nexstar"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/energymonthlyservicepoint_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/Nextstar_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "energymonthlyservicepoint",
						"folderPath": "parquet-nextstar-raw",
						"container": "nexstar"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/estimatedusage_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/Nextstar_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "estimatedusage",
						"folderPath": "parquet-nextstar-raw",
						"container": "nexstar"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/meterenergymonthlyusage_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/Nextstar_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "meterenergymonthlyusage",
						"folderPath": "parquet-nextstar-raw",
						"container": "nexstar"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/usageallowedthresholdfactor_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/Nextstar_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "usageallowedthresholdfactor",
						"folderPath": "parquet-nextstar-raw",
						"container": "nexstar"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/usagebehaviorrules_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_nextstar_billing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ELECTRICAL BILLING/Nextstar_export_parquet_files"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "usagebehaviorrules",
						"folderPath": "parquet-nextstar-raw",
						"container": "nexstar"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Aurea_extraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Account",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Account_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Product",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Product_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Rate",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Rate_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data4",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ratedetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ratedetail_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data5",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ratedetailhistory",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ratedetailhistory_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data6",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data5",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ratetransition",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ratetransition_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data7",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data6",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ratetransitionhistory",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ratetransitionhistory_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-02T19:15:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Aurea_parquet_extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Consumption",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Consumption",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Consumption_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ConsumptionDetail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Consumption",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Consumptiondetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ConsumptionDetail_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Invoice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ConsumptionDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Invoice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Invoice_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "InvoiceDetail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Invoice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoiceDetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "InvoiceDetail_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SpecialCharges",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "InvoiceDetail",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoiceSpecialCharges",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "InvoiceSpecialCharges_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "InvoiceTax",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SpecialCharges",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoiceTax",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "InvoiceTax_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TDSInvoice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "InvoiceTax",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TDSPInvoice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TDSPInvoice_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TDSCharges",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TDSInvoice",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TDSPCharges",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TDSPCharges_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AlertQueue",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TDSCharges",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AlertQueue",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AlertQueue_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "customer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "AlertQueue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Customer_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-14T13:58:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/TDSPInvoice')]",
				"[concat(variables('factoryId'), '/datasets/TDSPInvoice_parquet')]",
				"[concat(variables('factoryId'), '/datasets/TDSPCharges')]",
				"[concat(variables('factoryId'), '/datasets/TDSPCharges_parquet')]"
			]
		}
	]
}